name: Deploy MkDocs

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: pages
  cancel-in-progress: true

env:
  CI: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Configure Pages
        uses: actions/configure-pages@v5
        with:
          enablement: true
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install "mkdocs>=1.5" "mkdocs-material>=9.5"
          pip install "mkdocstrings>=0.25" "mkdocstrings-python>=1.9" "mike>=2.0" "mkdocs-autorefs>=1.0" "mkdocs-git-revision-date-localized-plugin>=1.2"
      #          pip install Markdown==3.10 Jinja2==3.1.6 pymdown-extensions==10.18 mkdocs==1.6.1 mkdocstrings==1.0.0 mkdocstrings-python==2.0.1 mike==2.1.3 mkdocs-autorefs==1.4.3 mkdocs-material==8.2.7 mkdocs-git-revision-date-localized-plugin==1.5.0 mkdocs-plugin-tags==1.0.2
      - name: Build site
        run: mkdocs build --strict
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: site
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
